{% extends 'base/post.html' %}
{% load i18n bootstrap3 blogstags %}

{% block title %}
{{ instance.title }}
{% endblock %}

{% block content_title %}
{{ instance.title }}
{% endblock %}

{% block content_subtitle %}
{% endblock %}

{% block content_meta %}
by <a href="#">{{ instance.writer }}</a> on {{ instance.created_at }}
{% endblock %}

{% block bottom %}
<script>
$(function(){
    $("input:radio[name=rating]")
      .after('{% trans "Star" %}')
      .closest('label').contents().filter(function(){
        return (this.nodeType == 3);
      }).remove();
})
</script>
{% endblock %}

{% block content %}
{{ instance.content|safe }}

{% if request.user.is_authenticated %}
{% review_form request.user instance as form %}
<section>
  <h2>{% trans 'Review' %}</h2>

  <form class="form form-inline">
    <div class="row">
      {% bootstrap_field form.nickname layout='inline' %}
      {% bootstrap_field form.rating layout='inline' %}
      {% buttons submit='Review' %}
      {% endbuttons %}
    </div>
    <div class="row">
      {% bootstrap_field form.text layout='inline' %}
    </div>
  </form>
</section>


{% endif %}

{% endblock %}
