{% extends 'base/post.html' %}
{% load i18n static bootstrap3 blogstags %}

{% block title %}
{{ instance.title }}
{% endblock %}

{% block content_title %}
{{ instance.title }}
{% endblock %}

{% block content_subtitle %}
{% endblock %}

{% block content_meta %}
by <a href="#">{{ instance.writer }}</a> on {{ instance.created_at }}
{% endblock %}

{% block head %}
  {{ block.super }}
  <style>
  </style>
{% endblock %}

{% block bottom %}
<script>
$(function(){

    $.fn.extend({
      change_star: function(value, on, off){
        var color = ($(this).val() <= value )? on: off;
        $(this).siblings().css({color: color});
        return this;
      }});

    $("input:radio[name=rating]")
      .map(function(index, e){
        $(this)
          .css('display', 'none')
          .after('{% trans "Star" %}')
          .change_star(3, 'red', 'black')
          .closest('label').contents().filter(function(){
              return (this.nodeType == 3);
          }).remove();
        });
    $("input:radio[name=rating]").change(function(){
        v =$(this).val();
        $("input[name=rating]").map(function(i, e){
            $(e).change_star(v, 'red', 'black');
        });
    });
})
</script>
{% endblock %}

{% block content %}
{{ instance.content|safe }}
{% if request.user.is_authenticated %}
{% review_form request.user instance as form %}
<section>
  <h2>{% trans 'Review' %}</h2>

  <form class="form form-inline">
    <div class="row">
      {% bootstrap_field form.nickname layout='inline' %}
      {% bootstrap_field form.rating layout='inline' %}
      {% buttons submit='Review' %}
      {% endbuttons %}
    </div>
    <div class="row">
      {% bootstrap_field form.text layout='inline' %}
    </div>
  </form>
</section>


{% endif %}

{% endblock %}
